*.db filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
data/exception_addition_commits_deduplicated.json filter=lfs diff=lfs merge=lfs -text
